.home-container{
    width: 100%;
    margin: 2% auto;
}
.home-grid{
    display: grid;
    place-items: center;
    gap: 60px 10px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
a{
    text-decoration: none;
}
.product-card {
    width: 70%;
    height: 100%;
    position: relative;
    box-shadow: 0 2px 7px #d2caca;
    background: #ffffff;
}


.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: #ffffff;
}

.product-tumb img {
    width: 150px;
    height: 150px;
}

.product-details {
    padding: 5% 5%;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 10px;
}

.product-details h4 {
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
    transition: 0.3s;
    line-height: 1.5em;
    height: 3em;     
    overflow: hidden;
    cursor: pointer;
}



.product-details p {
    font-size: 14px;
    line-height: 20px;
    color: rgb(122, 122, 122);  
}

.product-bottom-details {
    padding-top: 10px;
    
}

/* .product-bottom-details div {
    float: left;
    width: 50%;
} */

.product-price {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    color: #ff0000;
    font-weight: 600;
}


.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}