
  body{
    font-family: 'Oswald', sans-serif;

  }
  .shopping-cart{
    width: 80%;
    height: auto;
    margin: 1% auto;
    background: #FFF;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
  }
  
  /* item styling */
  .title{
    height: 2%;
    border-bottom: 1px solid #E1E8EE;
    padding: 1.25em 1.75em;
    color: #383838;
    font-size: 1.125em;
    font-weight: 400;
  }
  
  .item{
    padding: 1.25em 1.75em;
    height: 9.5em;
    display: flex;
    justify-content: center;
}
 
  
  .buttons{
    position: relative;
    padding-top: 1.75em;
    margin-right: 3.5em;
  }

  .delete-btn,
  .like-btn{
    display: inline-block;
    cursor: pointer;
  }
  
  .delete-btn{
    width: 18px;
    height: 17px;
    background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg") no-repeat center;
  }


  
  
  .image img{
    height: 100px;
    width: 90px;
    margin-right: 3.5em;
}

  .description{
    padding-top: .5rem;
    margin-right: 60px;
    width: 40%;
  }
  .description h3{
    font-weight: 600;
    font-size: 20px;
    color: #43484d;
    letter-spacing: 0px;
    margin: 2% 0%;
  }
  .description h4{
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }

  .description span{
    display: block;
    font-size: 16px;
    color: #43484D;
    font-weight: 400;
  }
  .description span:first-child{
    margin-bottom: 5px;
  }
  .description span:last-child{
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  
  .quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
  }
  .quantity h3{
    margin: 0px 10px;
    font-weight: 200;
  }
  .quantity input{
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 1em;
    color: #43484D;
    font-weight: 300;
  }
  .inc-btn {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
 .cart-order{
  width: 10%;
  padding: 7px 0px;
  margin: 1% 0%;
 }
 

 .button-9 {
   appearance: button;
   backface-visibility: hidden;
   background-color: #405cf5;
   border-radius: 6px;
   border-width: 0;
   box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
   font-size: 80%;
   height: 44px;
   line-height: 1.15;
   margin: 12px 0 0;
   outline: none;
   overflow: hidden;
   padding: 0 25px;
   position: relative;
   text-align: center;
   text-transform: none;
   transform: translateZ(0);
   transition: all .2s,box-shadow .08s ease-in;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 13%;
 }
 
 .button-9:disabled {
   cursor: default;
 }
 
 .button-9:focus {
   box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
 }

  
  .total-price{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #43484D;
    font-weight: 500;
  }
  .footer-cart-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
  }
  .footer-cart{
    width: 20%;
    height: auto;
    padding: 2% 0%;
  }
  .footer-cart h3{
    margin-bottom: 20px;
  }
  
  /* media queries */
  @media (max-width: 800px) {
    .shopping-cart{
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img{
      width: 50%;
    }
    .image,
    .quantity,
    .description{
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons{
      margin-right: 20px;
    }
  }